.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-right {
  margin-left: 60px;
  /*border: 3px solid #73AD21;*/
}


.tabcontent {
  display: none;
  margin-left:60px;
  margin-top:50px;
  overflow: scroll;
  height:100vh;
}

.tablinks{

}

.getcoinbg {
  position: fixed;
  background: rgba(127,255,212, 0.3);
  background: linear-gradient(to bottom right, rgba(127,255,212, 0.3), rgba(0,255,255,0.3));
  top: 50px;
  bottom: 0;
  left:60px;
  right:0px;
}

.trendingbg {
  color: white;
  background: rgb(123,104,238);
  background: linear-gradient(to bottom right, rgb(123,104,238), rgb(139,0,139));
}


.logimg {
  text-align:center;
  font-size:20em;
  width: 40%;
}

.img-chopper {
  width: 60%;
  display: inline;
  overflow: hidden;
  border-radius: 50%;
}

.panel {
  width: auto;
  text-align: left;

  display:flex;
  flex-direction: row;
  
  flex-wrap: wrap;


  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 12px 14px;
  margin: 12px 14px;
}

.delmar {
  padding: none;
  margin: none;
  background: rgba(0,0,0,0);
}

.panel-img {
  flex: 0 0 30%;
  
  text-align:center;
  /*border: 2px solid red;*/
  
}

.panel-info {
  flex: 1 1 30%;

  padding: 0em;
  /*border: 2px solid red;*/
}
.panel-opa {
  background: rgba(0,0,0,0);
}

.panel-gray {
  background: rgba(255, 255, 255, 0.3);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.marketpanel {
  width: auto;
  text-align: left;
  display:flex;
  flex-direction: row;
  
  flex-wrap: wrap;

  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 12px 14px;
  margin: 12px 14px;
}
.marketinfo {
  flex: 1 1 100%;

  padding: 1em;
}

.marketstat {
  /*market statistic*/
  flex: 0 0 40%;
  
  overflow: scroll;
}

.marketvolume {
  flex:0 0 40%;
  background: rgba(255,255, 255, 0.7);
  overflow: scroll;
}

.markettable {
  flex:1 1 20%;
  overflow: scroll;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-account_circle:before {
  content: "\e900";
}
