.container {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: fantasy;*/
  font-family: Spinnaker;
  background-color: #F8F8FF;
}

input {
  padding: 0.5em;
  color: palevioletred;
  background: papayawhip;
  border: none;
  border-radius: 3px;
}

.passinput {
  width: 40%;
  /*width: 600px;*/
  padding: 12px 20px;
  margin: 8px 0;

  color:black;
  background:white;
  display: inline-block;
  border: none;
  
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar a.active {
	background: #ddd;
	color: black;
}

.navbar input {
	float: right;
	display: block;
	padding: 14px 6px;
	
	color: palevioletred;
	text-align: left;
	text-decoration: none;

  background: white;
  border: none;
  border-radius: 3px;
}
.navbar input:hover {
	border-color: red;
	border-width: 3px;
}

.navbar button {
	float: left;
	display: block;
	
	background: #333;
  color: white;
  padding: 15px 16px;
  font-size: 1em;
  border: none;
}
.navbar button:hover {
	background: #ddd;
	color: black;
}

.navbar button.active {
  outline: none;
  border: none;
	background: #ddd;
	color: black;
}


@media screen and(max-width: 600px) {
  .navbar a, .navbar input, .navbar {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0em;
    padding:14px;
  }
}


p{
  margin: 1em 1em 1em 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.left {
  text-align: left;
  margin-left: 0em;
  clear: left;
}


.button {
  background:  white;
  color: palevioletred;
  width: 160px;
  font-size: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
    background-color: palevioletred;
    color: white;
}

.button1 {
  width: 3em;
  height: 2em;
  text-align: center;
  font-size: 2em;
  color: white;
  background: palevioletred;
  border:none;
  border-radius: 10px;
}

.button1:hover {
  color: palevioletred;
  background: white;
}


.mytradebt {
  width: 40%;
  font-size: 1em;
  text-align: center;
  padding: 12px 14px;
  
  color: white;
  background: black;

  border: 3px solid white;
  border-radius: 3px;

  position: relative;
  float: right;
}

.mytradebt:hover {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  outline: none;
}

.mytradebt button:active{
  background: rgba(255, 255, 255, 0.7);
  color: black;
}



.passbutton {
  width: 40%;
  /*width: 600px;*/
  padding: 12px 20px;
  margin: 8px 0;

  text-align: center;
  font-size: 1em;
  
  color: black;
  background: #ffffe6;
  
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.passbutton {
  border: none;
  outline:none;
}

.dollar {
  color: palevioletred;
  background: papayawhip;
  height: 1em;
  font-size: 2em;
  border-radius: 10px;
}

.icon {
  color: palevioletred;
  background: rgba(0, 0, 0, 0);
  border: none;
  
  text-align: center;
  font-size:2em;
  padding: 15px 15px;
}

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background: #333;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
  float: left;
  display: block;
  padding: 14px 0px;
  width:100%;
  left: 0;
  
  background: #333;
  color: white;
}

.sidenav a:hover{
  background: white;
  color: #333;
  
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

hr.double {
  margin: 20px;
  border-top: 1px double red;
}

table, td, th {
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.tb {
  text-align: center;
  font-size: 1em;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.logo {
  float: left;
  margin-top:30px;
  display: inline-block;
  animation: rotate360 2s linear infinite;
  font-size: 2rem;
}
